.tagline {
    position: absolute;
    color: white;
    margin: 60px 17px 0px 56px;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    text-shadow: 5px 5px black;
}

.photo-by {
    position: absolute;
    color: white;
    bottom: 20px;
    margin: 10px 25px;
    font-size: 16px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

.bookshelf {
    margin: 3px 10px;
}

.content{
    margin: 0px 30px;
}

.form-group-custom {
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px 5px 90px 5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    max-width: 417px;
    max-height: 80px;
}

.label {
    padding: 2px 5px;
    display: block;
    color: #181616;
}

input[type=password], input[type=email], input[type=text]{
    display: block;
    outline: none;
    border: none;
}

.btn-login{
    background-color: black !important;
    margin: 49px 21px 0px 0px;
}

.btn-login:hover{
    background-color: rgb(51, 48, 48) !important;
    margin: 49px 21px 0px 0px;
}

.btn-sign-up{
    background-color: white !important;
    color: black !important;
    margin: 49px 21px 0px 0px;
}

.btn-sign-up:hover{
    background-color: rgb(238, 238, 238) !important;
    color: black !important;
    margin: 49px 21px 0px 0px;
}

.forgot-password{
    text-decoration: none !important;
    margin-left: 50px;
}

.welcome{
    font-size: 17px;
    margin-bottom: 51px;
}

.login{
    font-size: 64px;
}

.policy{
    margin-top: 50px !important;
}